# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
**/Debug/
**/Release/
**/x64/
**/x86/
**/ARM64/
**/ipch/
**/obj/
**/bin/

# Misc
*.log
*.tlog
*.pch
*.pdb
*.ilk
*.idb
